/*
|--------------------------------------------
| Обертка страницы
|--------------------------------------------
*/

.page-wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
	&-top{
		flex: 1 0 auto;
	}
	&-bottom{
		flex: 0 0 auto;
	}
}