/*
|--------------------------------------------
| Стили кнопок
|--------------------------------------------
*/

.btn{
	display: inline-block;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: $brs;
	border: 1px solid transparent;
	max-width: 100%;
	background: #fff;
	user-select: none;
	transition: $ts;
	cursor: pointer;
	text-align: center;

	&-block{
		width: 100%;
	}

	&-sm{
		padding: 5px 10px;
	}

	&:focus{
		box-shadow: none;
	}
	
}