/*
|---------------------------------------
| Цвета сайта
|---------------------------------------
*/

$primary-color: brown;
$secondary-color: gray;
$text-color: #333;
$light-color: #f7f8f8;
$dark-color: #111;

$success-color: green;
$danger-color: red;
$warning-color: orange;
$info-color: lightblue;