/*
|--------------------------------------------
| Переменные
|--------------------------------------------
*/

// border-radius
$brs-lg: 20px;
$brs: 10px;
$brs-sm: 5px;

// transition speed
$ts: .3s;

// тень блоков
$shadow: 0 0 10px 0 rgba(black, .5);
$shadow-light: 0 0 5px 0 rgba(black, .25);

// Тень текста
$tsb: -1px 1px 1px #000;
$tsw: -1px 1px 1px #fff;