/*
|---------------------------------------
| Цвета сайта
|---------------------------------------
*/

$success-color: green;
$danger-color: red;
$warning-color: orange;
$info-color: lightblue;


$base-color: brown; // цвет
$add-color: gray; // цвет
$text-color: #000;
$light-color: #f7f8f8;


$tc: $text-color;
$bc: $base-color;
$ac: $add-color;
$lc: $light-color;